

.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: pink;
    background-color: pink;
    opacity: .7;
    border-radius: 60%;
    margin-left: 4%;
}



.about{
    /* background: url("dark-grey-terrazzo.png"); */
    background: url("pink_rice.png");
    color: black;
    padding: 3%;
    box-shadow: 10px 30px 30px 30px rgba(109, 18, 56, 0.25);
}

.Port{
    color: pink;
    text-shadow: -1px 0 rgb(209, 104, 174), 0 1px rgb(209, 104, 174), 1px 0 rgb(209, 104, 174), 0 -1px rgb(209, 104, 174);
}

.AboutMe{
    color: rgb(179, 32, 113);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.biopara{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

  #biopic{
      margin-right: 14px;
  }

body{
    background:url("dark-grey-terrazzo.png");
}

 .carousel-inner{
     width: 55%;
     display: inline-block;
     margin-left: 23%;
     border: solid 3px pink;
 }

 .carousel-control-prev-icon{
     background-color: hotpink;
     padding: 15%;
     border-radius: 50%;
 }

 .carousel-control-next-icon{
     background-color: hotpink;
     padding: 15%;
     border-radius: 50%;
 }

 .carText{
     margin-top: 15%;
     background-color: #ff6666;
     
     font-weight: 400;
     border-radius: 3%;
     
 }

 .carLabel{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
 }

 .footer{
     color: pink;
 }

 

