
.navbar-nav {
    color: pink;
    background-color: pink;
    border-radius: 45%
}

.ml-auto{
    color: pink;
    background-color: pink;
    border-radius: 45%
}



.about{
    /* background: url("dark-grey-terrazzo.png"); */
    background: url("pink_rice.png");
    color: black;
}

.Port{
    color: pink;
}

.AboutMe{
    color: black;
}

.biopara{
    color: black;
}

  #biopic{
      margin-right: 14px;
  }

body{
    background:url("dark-grey-terrazzo.png");
}

 .carousel-inner{
     width: 55%;
     display: inline-block;
     margin-left: 23%;
     border: solid 3px pink;
 }

 .carousel-control-prev-icon{
     background-color: hotpink;
     padding: 15%;
     border-radius: 50%;
 }

 .carousel-control-next-icon{
     background-color: hotpink;
     padding: 15%;
     border-radius: 50%;
 }

 .carText{
     margin-top: 15%;
     background-color: #ff6666;
     
     font-weight: 400;
     border-radius: 3%;
     
 }

 .carLabel{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
 }

 .footer{
     color: pink;
 }

 

